<div class=" center">
    <div class="content">
    <div class="row vert-pad" >
        <div class="left padded">
            <h1>Desarollo sitios web para personas que quieran entrar en el mundo digital</h1>
            <p>constantemente me encuentro aprendiendo nuevas tecnologias  y desarollando aplicaciones, por ejemplo  esta web la construi desde 0 con python y flask quiero seguir aprendiendo</p>
        </div
        <div class="rigth padded" >
            <h1>podemos conversar lo que quieras</h1>
            <p>solo enviame un correo <a class="ornage" href="#contacto">pinchando aca</a></p>
        </div>
    </div>
    </div>
</div>
