<div class="'center padded white-bg" >
    <div class="content padded">
        <div class="padded">
            <h1>no estas convencido mira lo que e construido</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>miler app</h3>
                <p>una app que envia correos utilizando la appi de sendfrid</p>
                <a  class="orange"  href="#linkaca"> link</a>
            </div>

            <div class="card third">
                <h3>gestor de clientes</h3>
                <p>una app que envia correos utilizando la appi de sendfrid</p>
                <a  class="orange"  href="{{url_for('static',filename='libreta-clientes') }}"> link</a>
            </div>
                                         
            <div class="card third">
                <h3>gestor de tareas</h3>
                <p>una app que envia correos utilizando la appi de sendfrid</p>
                <a  class="orange"  href="{{url_for('static', filename='db')}}"> link</a>
            </div>

        </div>
    </div>
</div>