<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>AHORA O NUNCA </h1>
                <h2>tranajaemos juntos</h2>
                <p>hare mi mejor exfuerzo para mejorar y dar valor</p>
            </div>
                <div id="contacto" class="rigth padded">
                 <form class="contact-form" method="post" action="{{url_for('portfolio.mail')}}">
                    <input  name="name" placeholder="Nombre"  required/>
                    <input  name="email" placeholder="Correo" type="email" required/>
                    <textarea placeholder="menssagee " name="message" required minlength=10 ></textarea>
                    <button class="btn full-width">Enviar</button>
                 </form>
             </div>
        </div>
    </div>
</div>
