<div class=" center">
    <div class="content">
    <div class="row vert-pad" >
        <div class="left padded">
            <h1>Desarollo con pasion a aplicaciones y sitios web para perosnas</h1>
            <p>constantemente me en cuentro a rendiendo nuevas tecnologias  y desaroollando aplicaciones por place esta web la construi desde 0 con python y flask quiero seguir aprendiendo</p>
        </div>
        <div class="rigth padded" >
            <h1>podemos conversar lo que queras</h1>
            <p>solo enviame un correo <a class="ornage" href="#contacto">pinchando aca</a></p>
            
        </div>
    </div>
    </div>
</div>
